# Python
python_app/venv/
__pycache__/
*.pyc
python_app/attendance.db
python_app/dataset/encodings.pickle

# Node / Vercel
node_modules/
.vercel/

# OS
.DS_Store
Thumbs.db

# ESP32 Build
esp32_firmware/build/
esp32_firmware/*.bin
esp32_firmware/*.elf
esp32_firmware/*.map

# Camera Captures
python_app/static/captures/
